:root {
  --blue_bg: #315dfa;
  --blue_text: #315df9;
  --blue_light: #afdce5;
  --grey: #343b4d;
  --grey_light: #d6d6d6;
  --red: #b53e42;
  --red_bg: #ffd8cf;
  --green: #419330;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: calc(100vh - 170px);
}

button,
input {
  cursor: pointer;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--grey_light);
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
}

.title {
  font-size: 17px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 14px 22px;
}

.header {
  background-color: var(--blue_bg);
}

.header__wrap {
  color: var(--blue_light);
  font-size: 10px;
  font-weight: bold;
}

.header__wrap h1 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.info__wrap {
  color: #343b4d;
}

.info__images {
  position: relative;
}

.circle {
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  animation: circle 20s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.info__wrap .title {
  color: var(--blue_text);
  font-weight: 500;
  margin: 10px 0;
}

.form__progress {
  width: 100%;
  height: 8px;
  margin-bottom: 25px;
  -webkit-appearance: none;
}

.result__progress {
  width: 50%;
  text-align: center;
  color: white;
  padding: 10px 0;
  margin-bottom: 25px;
  background-color: var(--green);
  -webkit-appearance: none;
}

.form__progress::-webkit-progress-bar {
  background: #f3f4f8;
  box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.form__progress::-webkit-progress-value {
  background-color: var(--red);
}

.form__step {
  position: relative;
  display: none;
  animation: show 0.5s;
}

.form__step.active,
.form__btn_next.active {
  display: block;
}

@keyframes show {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.form__step legend {
  background-color: var(--grey);
  color: white;
  padding: 14px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.input_group {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 15px 17px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.form__btn_next {
  display: none;
  margin: 0 auto;
  width: 185px;
  margin-top: 10px;
  padding: 11px;
  background-color: var(--blue_bg);
  color: white;
  border: 1px solid transparent;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  animation: show 0.5s;
}

.form__btn_next:focus,
.form__btn_next:hover {
  background-color: #fff;
  color: var(--blue_text);
  border-color: var(--blue_bg);
}

.form__alert {
  background-color: var(--red_bg);
  color: var(--red);
  max-width: 280px;
  width: 100%;
  padding: 8px;
  text-align: center;
  margin: 30px auto 0;
}

.form__select {
  display: block;
  position: relative;
  cursor: pointer;
  line-height: 2;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid #e4e4e4;
  padding: 11px 17px;
  background: url("./img/arrow.svg") no-repeat right;
  background-position-x: 96%;
  outline-color: #343b4d;
}

.form__select option {
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
}

.form__step.correct .form__select {
  color: var(--blue_text);
  font-weight: bold;
}

#zodiac {
  text-align: center;
  margin-bottom: 20px;
}
.zodiac__image {
  width: 40%;
  animation: show 0.5s;
}

.copyright {
  display: block;
  color: var(--grey_light);
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
}
@media screen and (min-width: 540px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 779px) {
  .title {
    font-size: 24px;
  }

  body {
    font-size: 16px;
  }

  .container {
    padding: 18px 70px;
  }

  .header__wrap {
    font-size: inherit;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 28px;
  }

  body {
    font-size: 18px;
  }

  .container {
    padding: 18px 0;
  }
}
